bower_components
node_modules
uploads/**
!uploads/README.md
.tmp/**
!.tmp/README.md
build
dist/vendor
dist/mosaico-material.min.css
dist/mosaico-material.min.css.map
dist/mosaico.min.css
dist/mosaico.min.css.map
dist/mosaico.min.js
dist/mosaico.min.js.map
dist/fa
dist/lang